@charset "utf-8";

/* 加载动画容器样式 */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* 渐变动画关键帧 */
.loading-gif {
    width: 300px; 
    height: auto;
}
/* 渐变动画关键帧 */
@keyframes dotanim{
    0%{
        transform: scale(0.2);
    }
    10%{
        transform: scale(1);
    }
    50%,100%{
        transform: scale(0.2);
    }
}